<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="/static/style.css">

        <script type="text/javascript"> 
           
        </script>
    </head>

    <body>
        <h1>Document</h1>
        <div id="topic_model">
            {{doc}}
        </div>
        <br>
        <br>
        
        <div>
            <h1>{{ title }}</h1>
            <p><em>{{ subtitle }}</em></p>
            <div>
                {{ contentView|safe }}
            </div>
        </div>
        <div>
            {{ stringOfWords }}
        </div>
        <br>
        <hr>
        <label for="input">Please enter the topic id you would like to analyze (0-9): </label>
        <input type="text" id="topicIdInput"><br>
        <button onclick="updateDocument()">Send Data</button>
        <script>

            function updateDocument(){
            var currentUrl = window.location.href;
            var prefix = "http://127.0.0.1:8080/documents/"
            var value2 = currentUrl.split('/')[4]
            var topicId = document.getElementById('topicIdInput').value;
          
            var url = '/documents/' + value2 + "/" + topicId;  // Construct the URL with the entered topic ID

            // Redirect to the new URL
            window.location.href = url;
        }
        </script>

    </body>


        
</html>