<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="/static/style.css">

        <script type="text/javascript"> 
           
        </script>
    </head>

    <body>
        <h1>Topic Model #{{i}}</h1>
        <div id="topic_model">
            {{t}}
        </div>

        <label for="input">Please a word from this Topic you would like to analyze: </label>
        <input type="text" id="topicWord"><br>
        <button onclick="updateDocument()">Send Data</button>
        <script>

            function updateDocument(){
            var currentUrl = window.location.href;
            var value2 = currentUrl.split('/')[4]
            var topicWord = document.getElementById('topicWord').value;
            
            var url = '/topic/' + value2 + "/" + topicWord;  // Construct the URL with the entered topic ID

            // Redirect to the new URL
            window.location.href = url;
        }
        </script>


    </body>


        
</html>